* {
  box-sizing: border-box;
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: roboto_condensedlight;
  font-size: 16px;
}
.jumbotron {
  max-width: 850px;
  height: 495px;
  background: url("./assets/img/jumbo_back.jpg");
  margin: 0px auto;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(50,0,0,0.5);
}
.jumbotron > .logo {
  padding: 27px 0px 25px 0px;
  margin: 0px 125px;
  border-bottom: 1px solid #516275;
  -webkit-animation: showFromBack 1s linear;
  animation: showFromBack 1s linear;
}
.jumbotron > .description {
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 0px 125px;
}
.jumbotron > .description > h3 {
  font-family: roboto_condensedregular;
  font-weight: 100;
  font-size: 48px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 56px 0px 0px 0px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.jumbotron > .description > p {
  font-family: roboto_condensedlight;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 15px 0px 0px 0px;
  line-height: 29px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.jumbotron > .description > p:nth-of-type(2) {
  font-family: roboto_condensedlight_italic;
  font-size: 18px;
  margin: 30px 0px 0px 0px;
}
.jumbotron > .description > .button {
  background: #f5a65b;
  padding: 15px 55px;
  display: inline-block;
  margin-top: 29px;
  text-align: center;
}
.jumbotron > .description > .button > a {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.jumbotron > .description > .button > a:nth-of-type(2) {
  font-size: 14px;
}
.cigun_block {
  max-width: 850px;
  margin: 0px auto;
  padding: 32px 25px 46px 25px;
  background: #fbfbfb;
  font-size: 0px;
}
.cigun_block > .center {
  max-width: 1280px;
  margin: 0px auto;
}
.cigun_block > .caption > h3 {
  text-align: center;
  margin: 0px;
  color: #414d60;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 45px;
  padding-bottom: 30px;
}
.cigun_block > .caption:after {
  content: " ";
  border-bottom: 1px solid #e9e9e9;
  height: 1px;
  display: block;
  margin-bottom: 40px;
}
.cigun_block > .center > .column {
  width: 33%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.cigun_block > .center > .column:last-child {
  padding: 0px;
}
.cigun_block > .center > .column > i,
.cigun_block > .center > .column > img {
  padding: 33px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #e9e9e9;
  font-size: 30pt;
  transition: all 3s;
}
.cigun_block > .center > .column > img:hover {
  transition: all 3s;
  box-shadow: 0px 0px 30px #c7c7c7;
}
.cigun_block > .center > .column > h3 {
  color: #495d79;
  text-transform: uppercase;
  margin-top: 34px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: roboto_condensedregular;
}
.cigun_block > .center > .column > p {
  color: #7188a8;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  letter-spacing: 1px;
  line-height: 24px;
}
.cigun_block > .center > .column > p > span.date {
  font-family: roboto_condensedregular;
}
.cigun_block > .center > .column > p > span.seminar_name {
  font-family: roboto_condensedregular;
  font-size: 20px;
}
.cigun_block > .center > .column:last-child {
  margin-right: 0px;
}
.quote_block {
  max-width: 850px;
  margin: 0px auto;
  height: 350px;
  font-size: 0px;
}
.quote_block > .center {
  margin: 0px auto;
  max-width: 1280px;
}
.quote_block > .center > .photo {
  background: url("./assets/img/photo1.jpg");
  width: 425px;
  height: 350px;
  display: inline-block;
}
.quote_block > .center > .quote {
  background: #f5f5f5;
  width: 425px;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 30px;
  font-size: 19px;
  font-family: roboto_condensedregular;
  padding-left: 20px;
}
.quote_block > .center > .quote > blockquote {
  text-transform: uppercase;
  color: #667386;
  line-height: 30px;
  letter-spacing: 1px;
}
.quote_block > .center > .quote > blockquote:before {
  content: " ";
  color: #c4d1e4;
  background: url("./assets/img/quotemark.png");
  width: 19px;
  height: 17px;
  display: inline-block;
  position: relative;
  bottom: 8px;
  margin-right: 14px;
}
.quote_block > .center > .quote > blockquote > .line {
  display: block;
  width: 40px;
  border-bottom: 1px solid #d3d1d1;
  height: 1px;
  margin: 25px 0px;
}
.quote_block > .center > .quote > blockquote > .author {
  color: #7188a8;
  text-transform: none;
}
.attention_block {
  background: #fbfbfb;
  padding: 70px 125px 0px 125px;
  height: 212px;
  max-width: 850px;
  margin: 0px auto;
  font-family: roboto_condensedregular;
  text-transform: uppercase;
  text-align: center;
}
.attention_block > h4 {
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  letter-spacing: 3px;
}
.attention_block > h4:nth-child(2n) {
  margin-top: 18px;
  font-size: 25px;
  letter-spacing: 2px;
}
.attention_block > div.line:after {
  height: 1px;
  width: 100%;
  display: block;
  content: " ";
  background: #e9e9e9;
}
.attention_block > div.line:before {
  content: " ";
  height: 19px;
  width: 1px;
  background: #e9e9e9;
  display: block;
  margin: 0px auto;
  margin-top: 17px;
}
#map {
  height: 530px;
  width: 100%;
}
.adres {
  background: linear-gradient(to bottom, #414d60, #56647b);
  height: 420px;
}
.adres > .description {
  max-width: 850px;
  margin: 0px auto;
  color: #fff;
  padding: 37px 125px;
  text-align: center;
}
.adres > .description > .caption {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: roboto_condensedregular;
  letter-spacing: 1px;
}
.adres > .description > h4 {
  text-align: center;
  font-size: 21px;
  letter-spacing: 2px;
}
.adres > .description > p {
  font-size: 21px;
  padding-top: 4px;
  letter-spacing: 0px;
  line-height: 30px;
  text-align: left;
  position: relative;
}
.adres > .description > p:before {
  content: " ";
  background: url("./assets/img/arrow.png");
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  top: 7px;
  left: -30px;
}
.adres > .description > .button {
  background: #fff;
  padding: 15px 55px;
  display: inline-block;
  margin-top: 27px auto 0px auto;
  text-align: center;
  text-decoration: none;
}
.adres > .description > .button > span {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.adres > .description > .button > span:nth-of-type(2) {
  font-size: 14px;
}
.register_form {
  display: none;
  padding: 20px;
}
form#register_form > .formgroup.submit {
  margin-top: 40px;
}
form#register_form > .formgroup {
  margin-bottom: 20px;
}
form#register_form > .formgroup > input {
  display: block;
  width: 100%;
  margin-top: 5px;
}
form#register_form > .formgroup > input:valid:not([type=submit]) {
  border: 1px solid #008000;
}
.hide {
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}
.showFromBack {
  transition: 1.3s all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
@media screen and (max-width: 850px) {
  body > .jumbotron {
    background-size: cover;
    height: 100%;
    padding-bottom: 20px;
  }
  body > .jumbotron > .description {
    padding: 0px 20px;
    text-align: center;
  }
  body > .jumbotron > .description > h3 {
    font-size: 37px;
    text-align: center;
  }
  body > .jumbotron > .description > p {
    font-size: 17px;
  }
  body > .cigun_block {
    padding: 32px 20px 46px 20px;
  }
  body > .cigun_block > .caption {
    font-size: 37px;
  }
  body > .cigun_block > .center > .column {
    width: auto;
    margin-right: 0px;
  }
  body > .quote_block {
    height: auto;
  }
  body > .quote_block > .center > .photo {
    width: 100%;
    background-size: cover;
  }
  body > .quote_block > .center > .quote {
    width: 100%;
  }
  body > .quote_block > .center > .quote > blockquote {
    width: auto;
  }
  body > .attention_block {
    padding: 70px 20px 70px 20px;
    height: auto;
  }
  body > .adres {
    height: auto;
  }
  body > .adres > .description {
    padding: 35px 20px;
  }
  body > .adres > .description > p:before {
    display: none;
  }
}
@-webkit-keyframes showFromBack {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes showFromBack {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
